<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montela</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h3>Shubham Padhi</h3>
    <div class="container">
        <div class="wrapper">
            <div class="card text-center">
                <h1 class="title">Instagram</h1>
                <i class="fa-brands fa-instagram fa-bounce icons"></i>
                <p class="description">Pat.</p>
                <Button class="btn">Follow</Button>
            </div>
            <div class="card text-center">
                <h1 class="title">Tiktok</h1>
                <i class="fa-brands fa-tiktok fa-bounce icons"></i>
                <p class="description">Montela_g</p>
                <Button class="btn">Follow</Button>
            </div>
            <div class="card text-center">
                <h1 class="title">Steam</h1>
                <i class="fa-brands fa-steam fa-bounce icons"></i>
                <p class="description">Ujang Sedot</p>
                <Button class="btn">Follow</Button>

            </div>
            <div class="card text-center">
                <h1 class="title">Discord</h1>
                <i class="fa-brands fa-discord fa-bounce icons"></i>
                <p class="description">Estevandor Server</p>
                <a href="https://discord.gg/vfx9UnStAA">
                    <Button class="btn">Follow</Button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>